*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#cartas {
    display: flex; /* Organiza los elementos de forma horizontal */
    justify-content: space-around; /* Distribuye los elementos con espacio alrededor */
    align-items: start;
    gap: 1rem;
    padding: 1rem 5rem;
    margin-bottom: 1rem;
    background-color: transparent;

}
#cartas-completas {
    background: radial-gradient(circle at top, rgb(88, 88, 88) 5%, rgb(21, 21, 21) 40%);    
    display: flex;
    flex-direction: column;
}


.box-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-top: 4rem;
}
.titulo {
    background-color: transparent;
    color: white;
}


.box-title2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-top: 6rem;
    background-color: black;
}

.box-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 6rem;
    background-color: transparent;
}
.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15rem;
    color: white;
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 3rem;
    padding: 1rem;
}

.post-completos {
    display: flex;
    flex-direction: row;
    background-color: black;
}
